body {
    background-image: url('/images/login-background.jpg');
    background-repeat: repeat;
}

.login-header {
    padding-left: 30px;
}

.bgCover {
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, .45);
    position: absolute;
    z-index: -1;
}

.login-wrapper {
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    width: 330px;
    height: 420px;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 4px;
    
    padding: 60px;
}

.login-content h1 {
    color: white;
    margin-bottom: 30px;
}

#userLoginId, #userLoginPassword {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    color: white;
    background-color: #333333;
    border: none;

    margin-bottom: 30px;

    padding-left: 20px;
}

.btnLogin {
    width: 320px;
    height: 48px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #E50941;
    margin-bottom: 10px;
}

.boxSaveId {
    display: flex;
    margin-bottom: 40px;
}

.boxSaveId span {
    color: #b3b3b3;
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.login-content p {
    color: #b3b3b3;   
}
.login-content a {
    color: white;
}